<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="approveModalCenterTitle" th:text="#{dialog.cart.approval.form}"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>
          <span th:text="#{dialog.cart.approval.msg1}"></span>
          <br>
          <span th:text="#{dialog.cart.approval.msg2}"></span>
        </h6>
      </div>
      <div class="modal-footer justify-content-center align-items-center">
        <div class="qr-reader-container mt-3">
          <div id="reader-employee" class="reader"></div>
          <p class="mt-3 text-center" th:text="#{point.scanner.help.msg}"></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>